/*******************************************************************
██████╗░███████╗░██████╗███████╗████████╗░░░░█████╗░░██████╗░██████╗
██╔══██╗██╔════╝██╔════╝██╔════╝╚══██╔══╝░░░██╔══██╗██╔════╝██╔════╝
██████╔╝█████╗░░╚█████╗░█████╗░░░░░██║░░░░░░██║░░╚═╝╚█████╗░╚█████╗░
██╔══██╗██╔══╝░░░╚═══██╗██╔══╝░░░░░██║░░░░░░██║░░██╗░╚═══██╗░╚═══██╗
██║░░██║███████╗██████╔╝███████╗░░░██║░░░██╗╚█████╔╝██████╔╝██████╔╝
╚═╝░░╚═╝╚══════╝╚═════╝░╚══════╝░░░╚═╝░░░╚═╝░╚════╝░╚═════╝░╚═════╝░
*******************************************************************/
* {
    margin: 0px;
    padding: 0px;
    font-family: "Klee One";
}

header, footer, main, nav, article, aside, section {
    display: block;
}

ul {
    padding-left: 1.5em;
    list-style-type: circle;
}

hr {
    border-image: linear-gradient(to right, transparent, #989898, transparent);
    border-image-slice: 1;
}

a {
    text-decoration: none !important;
}

::selection {
    background-color: rgba(152, 251, 152, 0.3);
    color: rgb(0, 128, 128);
}

::marker {
    color: #223222;
}
