/************************************************************************************
░██████╗████████╗██╗░░░██╗██╗░░░░░███████╗░██████╗░░░░██████╗░█████╗░░██████╗░██████╗
██╔════╝╚══██╔══╝╚██╗░██╔╝██║░░░░░██╔════╝██╔════╝░░░██╔════╝██╔══██╗██╔════╝██╔════╝
╚█████╗░░░░██║░░░░╚████╔╝░██║░░░░░█████╗░░╚█████╗░░░░╚█████╗░██║░░╚═╝╚█████╗░╚█████╗░
░╚═══██╗░░░██║░░░░░╚██╔╝░░██║░░░░░██╔══╝░░░╚═══██╗░░░░╚═══██╗██║░░██╗░╚═══██╗░╚═══██╗
██████╔╝░░░██║░░░░░░██║░░░███████╗███████╗██████╔╝██╗██████╔╝╚█████╔╝██████╔╝██████╔╝
╚═════╝░░░░╚═╝░░░░░░╚═╝░░░╚══════╝╚══════╝╚═════╝░╚═╝╚═════╝░░╚════╝░╚═════╝░╚═════╝░
************************************************************************************/

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Klee+One');

$overlay-color: repeating-linear-gradient(45deg, rgba(144, 245, 154, 1), rgba(4, 202, 255, 1));
$lime-color: rgba(144, 245, 154, 1);
$aqua-color: rgba(4, 202, 255, 1);
$title-font: 'M PLUS Rounded 1c', sans-serif;
$menu-font: 'Sawarabi Gothic', sans-serif;
$container-box-border: 1px solid rgba($color: #BBBBBB, $alpha: 0.8);
$container-box-background: radial-gradient(circle farthest-side at 0% 3%, rgba(233, 233, 233, 0.7) 33%, rgba(207, 207, 207, 0.7) 100%);

%animation-default {
    opacity: 1 !important;
    z-index: 3;
}

@mixin bigtitle() {
    position: relative;
    padding: 0.25em 0;
}

@mixin bigtitle-after($content: "") {
    content: $content;
    display: block;
    height: 4px;
    background: -webkit-linear-gradient(to right, rgba(25, 25, 25, 0.8), transparent);
    background: linear-gradient(to right, rgba(25, 25, 25, 0.8), transparent);
}

@mixin header-list-style($container: 2) {
    display: block;
    height: auto;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: $container;
    padding: auto 10px;
    border-right: $container-box-border;
    border-bottom: $container-box-border;
    border-bottom-width: 3px;
    background-image: $container-box-background;
    text-align: center;
    -webkit-transition: box-shadow 0.5s 0s ease;
    transition: box-shadow 0.5s 0s ease;
    cursor: pointer;
}

@mixin header-list-link-style() {
    color: #191919;
    text-transform: uppercase;
    font-family: $menu-font;
    border-left: initial;
}

/*
    * @author: Dang Van Thanh
    * @github: https://github.com/dangvanthanh/carousel.sass
    * @description: A Simple Carousel Pure CSS Using Sass
    * @version: 1.0.0
*/
@mixin carousel($items, $animation: 'default') {
    .carousel {
        width: 100%;
        position: relative;
        overflow: hidden;
  
        > input[type="radio"] {
            position: absolute;
            left: 0;
            opacity: 0;
            top: 0;

            &:checked {
                ~ .carousel__items .carousel__item,
                ~ .carousel__prev > label,
                ~ .carousel__next > label {
                    opacity: 0;
                }
            }

            @for $i from 1 through $items {
                &:nth-child(#{$i}) {
                    &:checked {
                        ~ .carousel__items .carousel__item {
                            @if $animation == 'default' {
                                    &:nth-child(#{$i}) {
                                    opacity: 1;
                                }
                            }
                        }

                        ~ .carousel__prev {
                            > label {
                                @if $i == 1 {
                                    &:nth-child(#{$items}) {
                                        @extend %animation-default;
                                    }
                                } @else if $i == $items {
                                    &:nth-child(#{$items - 1}) {
                                        @extend %animation-default;
                                    }
                                } @else {
                                    &:nth-child(#{$i - 1}) {
                                        @extend %animation-default;
                                    }
                                }
                            }
                        }

                        ~ .carousel__next {
                            > label {
                                @if $i == $items {
                                    &:nth-child(1) {
                                        @extend %animation-default;
                                    }
                                } @else {
                                    &:nth-child(#{$i + 1}) {
                                        @extend %animation-default;
                                    }
                                }
                            }
                        }

                        ~ .carousel__nav {
                            > label {
                                &:nth-child(#{$i}) {
                                    background-color: $lime-color;
                                    background-image: $overlay-color;
                                    cursor: default;
                                    pointer-events: none;
                                    color: #000000;
                                }
                            }
                        }
                    }
                }
            }
        }
  
        &__items {
            margin: 0;
            padding: 0;
            list-style-type: none;
            width: 100%;
            height: 600px;
            position: relative;
        }
  
        &__item {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            transition: opacity 2s;
            -webkit-transition: opacity 2s;
    
            img {
                width: 100%;
                vertical-align: middle;
            }
        }
  
        &__prev, &__next {
            > label {
                background-color: rgba(0, 0, 0, 0.3);
                border-radius: 50%;
                cursor: pointer;
                display: block;
                width: 40px;
                height: 40px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                transition: all .3s ease;
                -webkit-transition: all .3s ease;
                opacity: 0;
                z-index: 2;
        
                &:hover, &:focus {
                    opacity: .5 !important;
                }
        
                &:before, &:after {
                    content: "";
                    position: absolute;
                    width: inherit;
                    height: inherit;
                }
        
                &:before {
                    background: linear-gradient(to top, $aqua-color 0%, $lime-color 10%, rgba(51, 51, 51, 0) 10%), linear-gradient(to left, $aqua-color 0%, $lime-color 10%, rgba(51, 51, 51, 0) 10%);
                    width: 60%; 
                    height: 60%;
                    top: 20%;
                }
            }
        }
  
        &__prev {
            > label {
                left: 2%;
        
                &:before {
                    left: 35%;
                    top: 20%;
                    transform: rotate(135deg);
                    -webkit-transform: rotate(135deg);
                }
            }
        }
    
        &__next {
            > label {
                right: 2%;
        
                &:before {
                    left: 10%;
                    transform: rotate(315deg);
                    -webkit-transform: rotate(315deg);
                }
            }
        }
  
        &__nav {
            position: absolute;
            bottom: 3%;
            left: 0;
            text-align: center;
            width: 100%;
            z-index: 3;
            > label {
                border: 1px solid $aqua-color;
                display: inline-block;
                border-radius: 50%;
                cursor: pointer;
                margin: 0 .125%;
                width: 20px;
                height: 20px;
                user-select: none;
                color: #FCFCFC;
                line-height: 20px;
                font-family: 'Sacramento', cursive;
                font-weight: bold;
            }
        }

        &__title {
            position: absolute;
            right: 15%;
            bottom: 20%;
            padding: 2% 5%;
            background-image: repeating-linear-gradient(40deg, rgba(143, 143, 143, 0.5), rgba(255, 255, 255, 0.5));
            z-index: 2;
            span {
                color: #FCFCFC;
                font-size: 20px;
                @include bigtitle();
            }
            span:after {
                @include bigtitle-after();
            }
        }
    }
}
/* End of carousel.sass */

@mixin section-box {
    background-color: rgba($color: #FEFEFE, $alpha: 1);
    margin: 10px auto;
    padding: 10px;
    box-shadow: 0 2px 1px -1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, .2)),0 1px 1px 0 var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, .14)),0 1px 3px 0 var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, .12));
    overflow: hidden;
    overflow-wrap: break-word;
    border-radius: 4px;
    line-height: 1.25rem;
}

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
}

@mixin absolute($top: null, $right: null, $bottom: null, $left: null) {
    position: absolute;
    @if $top != null {
        top: $top;
    }
    @if $right != null {
        right: $right;
    }
    @if $bottom != null {
        bottom: $bottom;
    }
    @if $left != null {
        left: $left;
    }
}

body {
    background-image: linear-gradient(-45deg, #f9f8f7 25%, #ffffff 25%, #ffffff 50%, #f9f8f7  50%, #f9f8f7 75%, #ffffff 75%, #ffffff);
}

header {
    display: inline-flex;
    width: 100%;
    height: 50px;
    background-image: $overlay-color;
    border-bottom: #565656 solid 3px;
    user-select: none;
    z-index: 4;
    .header-title-box {
        text-align: center;
        width: 35%;
        margin-left: 5%;
        height: 90%;
        border-radius: 5px;
        font-family: $title-font;
        font-size: 10px;
        cursor: pointer;
        .header-title-line {
            @include bigtitle();
            user-select: none;
            &::after {
                @include bigtitle-after();
            }
        }
    }
    .header-list-ul {
        display: flex;
        overflow: visible;
        list-style: none;
        margin: 5px 5%;
        width: 50%;
        z-index: 2;
        .header-list-li {
            @include header-list-style();
            &:hover {
                box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
            }
            &:active {
                box-shadow: inset 0px 0px 10px 0px rgba(255, 255, 255, 1);
                -webkit-transition: none 0 0 ease;
                transition: none 0 0 ease;
            }
            .header-list-link {
                @include header-list-link-style();
            }
        }
        :first-child{
            border-left: 1px solid rgba($color: #BBBBBB, $alpha: 0.8);
        }
        .header-list-dropdown {
            @include header-list-style(1);
            &:hover {
                box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
                .header-list-dropdown-ul {
                    visibility: visible;
                    opacity: 1;
                    -webkit-transition: opacity 1s 0s ease;
                    transition: opacity 1s 0s ease;
                }
            }
            .header-list-dropdown-button {
                @include header-list-link-style()
            }
            .header-list-dropdown-ul {
                display: block;
                position: absolute;
                padding: 0;
                top: 45px;
                width: 11.1%;
                border-left: initial;
                visibility: hidden;
                opacity: 0;
                transition: opacity 1s 0s ease;
                .header-list-dropdown-li {
                    display: inline-flex;
                    flex-flow: column;
                    width: 100%;
                    .header-list-dropdown-item {
                        border: $container-box-border;
                        background-image: $container-box-background;
                        @include header-list-link-style();
                    }
                }
            }
        }
    }
}

main {
    a {
        display: inline-block;
        position: relative;
        overflow: hidden;
        color: $lime-color;
    }
    a:visited {
        color: $aqua-color;
    }
    a::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $lime-color;
        transform: translate(-100%, 0);
        transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
        content: "";
    }
    a:visited::after {
        background-color: $aqua-color;
    }
    a:hover:after {
        transform: translate(0, 0);
    }

    .headline {
        transition: text-shadow 1s;
        transition: color 0.5s;
    }
    .headline:hover {
        color: #FFFFFF;
        text-shadow: -1px 1px 5px #000000, 1px -1px 5px #000000;
    }

    @include carousel(5);
    max-width: 900px;
    margin: 0 auto;
    .accordion {
        @mixin hidden-accordion() {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            transform: translateZ(0);
            transition: all 1s;
        }
        .accordion-box {
            @include section-box();
            .accordion-toggle {
                display: none;
                &:checked + .accordion-label {
                    margin-bottom: 3px;
                    font-weight: bold;
                    &::before {
                        transform: rotate(-45deg) !important;
                    }
                }
                &:checked + .accordion-label + .accordion-content {
                    height: auto;
                    transition: all 1s;
                    border-top: 1px solid;
                    border-image: linear-gradient(to right, transparent, #989898, transparent);
                    border-image-slice: 1;
                    margin-top: 3px;
                    padding-top: 3px;
                }
            }
            .accordion-label {
                @include hidden-accordion();
                display: block;
                cursor: pointer;
                &::before {
                    content:"";
                    width: 6px;
                    height: 6px;
                    border-top: 2px solid #000000;
                    border-right: 2px solid #000000;
                    -webkit-transform: rotate(45deg);
                    position: absolute;
                    top: calc( 50% - 3px );
                    right: 20px;
                    transform: rotate(135deg);
                }
            }
            .accordion-content {
                @include hidden-accordion();
                height: 0;
                overflow: hidden;
            }
        }
    }

    .content-section {
        @keyframes underTitleColor {
            from {
                background-position: 0 0;
            }
            to {
                background-position: 500% 500%;
            }
        }

        opacity: 0;
        transform: translate(0, 100px);
        transition: all 1s;
        &.loaded {
            opacity : 1;
            transform : translate(0, 0);
        }
        .content-pagetitle {
            text-align: center;
            margin-bottom: 10px;
            font-size: 24px;
            h1 {
                $line-position: 10px;
                display: inline-block;
                position: relative;
                padding: 1.5rem;
                margin: 0 auto;
                &::before {
                    position: absolute;
                    bottom: -$line-position;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 60px;
                    height: 5px;
                    border-radius: 5px;
                    background-image: linear-gradient(45deg, $lime-color 0%, rgba(4,202,255,1) 50%, $lime-color 100%);
                    background-size: 1000% 1000%;
                    animation: underTitleColor 5s linear 0s infinite;
                    content: "";
                }
            }
        }
        .content-card {
            @include section-box();
            &:not(:has(.content-text)) {
                padding-bottom: 10px;
            }
            .content-card-title {
                .content-card-headline {
                    position: relative;
                    padding: 1.5rem;
                    text-align: center;
                    &::before {
                        position: absolute;
                        bottom: -10px;
                        left: calc(50% - 30px);
                        width: 60px;
                        height: 5px;
                        content: '';
                        border-radius: 3px;
                        background: #000000;
                    }
                }
            }
            .content-text {
                margin-top: 10px;
                padding-top: 5px;
            }
            hr {
                margin: 10px auto;
            }
        }
    }
}

footer {
    .waves-svg {
        position: relative;
        margin-bottom: -7px;
        width: 100%;
        height: 15vh;
        min-height: 100px;
        max-height: 150px;
    }
    .parallax > use {
        animation: waving 25s cubic-bezier(.55,.5,.45,.5) infinite;
    }
    .parallax > use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
    }
    .parallax > use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
    }
    .parallax > use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
    }
    .parallax > use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
    }
    @keyframes waving {
        0% {
            transform: translate3d(-90px,0,0);
        }
        100% { 
            transform: translate3d(85px,0,0);
        }
    }
    .footer-content {
        position:relative;
        height: 100px;
        text-align: center;
        background-color: $lime-color;
    }
}

overlay {
    $overlay-button-height: 60px;
    $overlay-button-width: 150px;

    .overlay-screen {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        display: none;
        background-color: rgba(10, 10, 10, 0.4);
        transition: all 0.5s;
        .overlay-box {
            @include absolute(0, 0, 0, 0);
            margin: auto;
            width: 40%;
            height: 40%;
            text-align: center;
            background-color: rgba(245, 245, 245, 1);
            .overlay-button-box {
                display: -webkit-flex;
                display: flex;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-align-items: center;
                align-items: center;
                -webkit-justify-content: space-around;
                justify-content: space-around;
                @include absolute($right: 0, $bottom: 2%, $left: 0);
                margin: auto;
                .overlay-button-close-box {
                    .overlay-button {
                        appearance: none;
                        font-family: inherit;
                        display: inline-block;
                        min-width: 100px;
                        border: 0;
                        border-radius: 5px;
                        background: $lime-color;
                        color: black;
                        padding: 10px 16px;
                        font-size: 1rem;
                        text-decoration: none;
                        cursor: pointer;
                        transition: 0.3s ease-out;
                        
                        &:hover {
                            background: darken($lime-color, 15%);
                        }
                        
                        &:focus {
                            outline: none;
                            box-shadow: 0 0 0 4px rgba($lime-color, 0.5);
                            background: darken($lime-color, 30%);
                        }
                    }
                }
            }
        }
    }
}
