@charset "UTF-8";
/************************************************************************************
░██████╗████████╗██╗░░░██╗██╗░░░░░███████╗░██████╗░░░░██████╗░█████╗░░██████╗░██████╗
██╔════╝╚══██╔══╝╚██╗░██╔╝██║░░░░░██╔════╝██╔════╝░░░██╔════╝██╔══██╗██╔════╝██╔════╝
╚█████╗░░░░██║░░░░╚████╔╝░██║░░░░░█████╗░░╚█████╗░░░░╚█████╗░██║░░╚═╝╚█████╗░╚█████╗░
░╚═══██╗░░░██║░░░░░╚██╔╝░░██║░░░░░██╔══╝░░░╚═══██╗░░░░╚═══██╗██║░░██╗░╚═══██╗░╚═══██╗
██████╔╝░░░██║░░░░░░██║░░░███████╗███████╗██████╔╝██╗██████╔╝╚█████╔╝██████╔╝██████╔╝
╚═════╝░░░░╚═╝░░░░░░╚═╝░░░╚══════╝╚══════╝╚═════╝░╚═╝╚═════╝░░╚════╝░╚═════╝░╚═════╝░
************************************************************************************/
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");
@import url("https://fonts.googleapis.com/css?family=Sawarabi+Gothic");
@import url("https://fonts.googleapis.com/css?family=Klee+One");
main .carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__prev > label:nth-child(5), main .carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__next > label:nth-child(2), main .carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__prev > label:nth-child(1), main .carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__next > label:nth-child(3), main .carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__prev > label:nth-child(2), main .carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__next > label:nth-child(4), main .carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__prev > label:nth-child(3), main .carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__next > label:nth-child(5), main .carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__prev > label:nth-child(4), main .carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__next > label:nth-child(1) {
  opacity: 1 !important;
  z-index: 3;
}

/*
    * @author: Dang Van Thanh
    * @github: https://github.com/dangvanthanh/carousel.sass
    * @description: A Simple Carousel Pure CSS Using Sass
    * @version: 1.0.0
*/
/* End of carousel.sass */
body {
  background-image: linear-gradient(-45deg, #f9f8f7 25%, #ffffff 25%, #ffffff 50%, #f9f8f7 50%, #f9f8f7 75%, #ffffff 75%, #ffffff);
}

header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 50px;
  background-image: repeating-linear-gradient(45deg, rgba(144, 245, 154, 0.5), rgba(4, 202, 255, 0.5));
  border-bottom: #565656 solid 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header .header-title-box {
  text-align: center;
  width: 35%;
  margin-left: 5%;
  height: 90%;
  border-radius: 5px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 10px;
  cursor: pointer;
}

header .header-title-box .header-title-line {
  position: relative;
  padding: 0.25em 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header .header-title-box .header-title-line::after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(25, 25, 25, 0.8)), to(transparent));
  background: linear-gradient(to right, rgba(25, 25, 25, 0.8), transparent);
}

header .header-list-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  list-style: none;
  margin: 5px 5%;
  width: 50%;
  z-index: 2;
}

header .header-list-ul .header-list-li {
  display: block;
  height: auto;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 2;
  padding: auto 10px;
  border-right: 1px solid rgba(187, 187, 187, 0.8);
  border-bottom: 1px solid rgba(187, 187, 187, 0.8);
  border-bottom-width: 3px;
  background-image: radial-gradient(circle farthest-side at 0% 3%, rgba(233, 233, 233, 0.7) 33%, rgba(207, 207, 207, 0.7) 100%);
  text-align: center;
  -webkit-transition: box-shadow 0.5s 0s ease;
  -webkit-transition: -webkit-box-shadow 0.5s 0s ease;
  transition: -webkit-box-shadow 0.5s 0s ease;
  transition: box-shadow 0.5s 0s ease;
  transition: box-shadow 0.5s 0s ease, -webkit-box-shadow 0.5s 0s ease;
  cursor: pointer;
}

header .header-list-ul .header-list-li:hover {
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

header .header-list-ul .header-list-li:active {
  -webkit-box-shadow: inset 0px 0px 10px 0px white;
          box-shadow: inset 0px 0px 10px 0px white;
  -webkit-transition: none 0 0 ease;
  transition: none 0 0 ease;
}

header .header-list-ul .header-list-li .header-list-link {
  color: #191919;
  text-transform: uppercase;
  font-family: "Sawarabi Gothic", sans-serif;
  border-left: initial;
}

header .header-list-ul :first-child {
  border-left: 1px solid rgba(187, 187, 187, 0.8);
}

header .header-list-ul .header-list-dropdown {
  display: block;
  height: auto;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: auto 10px;
  border-right: 1px solid rgba(187, 187, 187, 0.8);
  border-bottom: 1px solid rgba(187, 187, 187, 0.8);
  border-bottom-width: 3px;
  background-image: radial-gradient(circle farthest-side at 0% 3%, rgba(233, 233, 233, 0.7) 33%, rgba(207, 207, 207, 0.7) 100%);
  text-align: center;
  -webkit-transition: box-shadow 0.5s 0s ease;
  -webkit-transition: -webkit-box-shadow 0.5s 0s ease;
  transition: -webkit-box-shadow 0.5s 0s ease;
  transition: box-shadow 0.5s 0s ease;
  transition: box-shadow 0.5s 0s ease, -webkit-box-shadow 0.5s 0s ease;
  cursor: pointer;
}

header .header-list-ul .header-list-dropdown:hover {
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

header .header-list-ul .header-list-dropdown:hover .header-list-dropdown-ul {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 1s 0s ease;
  transition: opacity 1s 0s ease;
}

header .header-list-ul .header-list-dropdown .header-list-dropdown-button {
  color: #191919;
  text-transform: uppercase;
  font-family: "Sawarabi Gothic", sans-serif;
  border-left: initial;
}

header .header-list-ul .header-list-dropdown .header-list-dropdown-ul {
  display: block;
  position: absolute;
  top: 45px;
  width: 11.1%;
  border-left: initial;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 1s 0s ease;
  transition: opacity 1s 0s ease;
}

header .header-list-ul .header-list-dropdown .header-list-dropdown-ul .header-list-dropdown-li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
}

header .header-list-ul .header-list-dropdown .header-list-dropdown-ul .header-list-dropdown-li .header-list-dropdown-item {
  border: 1px solid rgba(187, 187, 187, 0.8);
  background-image: radial-gradient(circle farthest-side at 0% 3%, rgba(233, 233, 233, 0.7) 33%, rgba(207, 207, 207, 0.7) 100%);
  color: #191919;
  text-transform: uppercase;
  font-family: "Sawarabi Gothic", sans-serif;
  border-left: initial;
}

main {
  max-width: 900px;
  margin: 0 auto;
}

main .carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
}

main .carousel > input[type="radio"] {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
}

main .carousel > input[type="radio"]:checked ~ .carousel__items .carousel__item,
main .carousel > input[type="radio"]:checked ~ .carousel__prev > label,
main .carousel > input[type="radio"]:checked ~ .carousel__next > label {
  opacity: 0;
}

main .carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__items .carousel__item:nth-child(1) {
  opacity: 1;
}

main .carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__nav > label:nth-child(1) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

main .carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__items .carousel__item:nth-child(2) {
  opacity: 1;
}

main .carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__nav > label:nth-child(2) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

main .carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__items .carousel__item:nth-child(3) {
  opacity: 1;
}

main .carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__nav > label:nth-child(3) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

main .carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__items .carousel__item:nth-child(4) {
  opacity: 1;
}

main .carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__nav > label:nth-child(4) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

main .carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__items .carousel__item:nth-child(5) {
  opacity: 1;
}

main .carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__nav > label:nth-child(5) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

main .carousel__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: 600px;
  position: relative;
}

main .carousel__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
}

main .carousel__item img {
  width: 100%;
  vertical-align: middle;
}

main .carousel__prev > label, main .carousel__next > label {
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  opacity: 0;
  z-index: 2;
}

main .carousel__prev > label:hover, main .carousel__prev > label:focus, main .carousel__next > label:hover, main .carousel__next > label:focus {
  opacity: .5 !important;
}

main .carousel__prev > label:before, main .carousel__prev > label:after, main .carousel__next > label:before, main .carousel__next > label:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
}

main .carousel__prev > label:before, main .carousel__next > label:before {
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(10%, #fff), color-stop(10%, rgba(51, 51, 51, 0))), -webkit-gradient(linear, right top, left top, from(#fff), color-stop(10%, #fff), color-stop(10%, rgba(51, 51, 51, 0)));
  background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%), linear-gradient(to left, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
  width: 60%;
  height: 60%;
  top: 20%;
}

main .carousel__prev > label {
  left: 2%;
}

main .carousel__prev > label:before {
  left: 35%;
  top: 20%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

main .carousel__next > label {
  right: 2%;
}

main .carousel__next > label:before {
  left: 10%;
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
}

main .carousel__nav {
  position: absolute;
  bottom: 3%;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 3;
}

main .carousel__nav > label {
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 .125%;
  width: 20px;
  height: 20px;
}

main .carousel__title {
  position: absolute;
  right: 15%;
  bottom: 20%;
  padding: 2% 5%;
  background-image: repeating-linear-gradient(40deg, rgba(143, 143, 143, 0.5), rgba(255, 255, 255, 0.5));
  z-index: 2;
}

main .carousel__title span {
  color: #FCFCFC;
  font-size: 20px;
  position: relative;
  padding: 0.25em 0;
}

main .carousel__title span:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(25, 25, 25, 0.8)), to(transparent));
  background: linear-gradient(to right, rgba(25, 25, 25, 0.8), transparent);
}

main .accordion .accordion-box {
  background-color: #fefefe;
  margin: 10px auto;
  padding: 10px;
  -webkit-box-shadow: 0 2px 1px -1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0 1px 1px 0 var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0 1px 3px 0 var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12));
          box-shadow: 0 2px 1px -1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0 1px 1px 0 var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0 1px 3px 0 var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12));
  overflow: hidden;
  overflow-wrap: break-word;
  border-radius: 4px;
  line-height: 1.25rem;
}

main .accordion .accordion-box .accordion-toggle {
  display: none;
}

main .accordion .accordion-box .accordion-toggle:checked + .accordion-label {
  margin-bottom: 3px;
  font-weight: bold;
}

main .accordion .accordion-box .accordion-toggle:checked + .accordion-label::before {
  -webkit-transform: rotate(-45deg) !important;
          transform: rotate(-45deg) !important;
}

main .accordion .accordion-box .accordion-toggle:checked + .accordion-label + .accordion-content {
  height: auto;
  -webkit-transition: all 1s;
  transition: all 1s;
  border-top: 1px solid;
  -o-border-image: linear-gradient(to right, transparent, #989898, transparent);
     border-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#989898), to(transparent));
     border-image: linear-gradient(to right, transparent, #989898, transparent);
  border-image-slice: 1;
  margin-top: 3px;
  padding-top: 3px;
}

main .accordion .accordion-box .accordion-label {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: all 1s;
  transition: all 1s;
  display: block;
}

main .accordion .accordion-box .accordion-label::before {
  content: "";
  width: 6px;
  height: 6px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  -webkit-transform: rotate(45deg);
  position: absolute;
  top: calc( 50% - 3px);
  right: 20px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

main .accordion .accordion-box .accordion-content {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: all 1s;
  transition: all 1s;
  height: 0;
  overflow: hidden;
}
/*# sourceMappingURL=styles.css.map */