@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");
@import url("https://fonts.googleapis.com/css?family=Sawarabi+Gothic");
.carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__prev > label:nth-child(5), .carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__next > label:nth-child(2), .carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__prev > label:nth-child(1), .carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__next > label:nth-child(3), .carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__prev > label:nth-child(2), .carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__next > label:nth-child(4), .carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__prev > label:nth-child(3), .carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__next > label:nth-child(5), .carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__prev > label:nth-child(4), .carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__next > label:nth-child(1) {
  opacity: 1 !important;
  z-index: 3;
}

/*
    * @author: Dang Van Thanh
    * @github: https://github.com/dangvanthanh/carousel.sass
    * @description: A Simple Carousel Pure CSS Using Sass
    * @version: 1.0.0
*/
/* End of carousel.sass */
* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none !important;
}

header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 50px;
  background-image: repeating-linear-gradient(45deg, rgba(144, 245, 154, 0.5), rgba(4, 202, 255, 0.5));
  border-bottom: #565656 solid 3px;
}

.header-title-box {
  text-align: center;
  width: 35%;
  margin-left: 5%;
  height: 90%;
  border-radius: 5px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 10px;
}

.header-title-line {
  position: relative;
  padding: 0.25em 0;
}

.header-title-line::after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(25, 25, 25, 0.8)), to(transparent));
  background: linear-gradient(to right, rgba(25, 25, 25, 0.8), transparent);
}

.header-list-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  list-style: none;
  margin: 5px 5%;
  width: 50%;
  z-index: 2;
}

.header-list-ul .header-list-li {
  display: block;
  height: auto;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 2;
  padding: auto 10px;
  border-right: 1px solid rgba(187, 187, 187, 0.8);
  border-bottom: 1px solid rgba(187, 187, 187, 0.8);
  border-bottom-width: 3px;
  background-image: radial-gradient(circle farthest-side at 0% 3%, rgba(233, 233, 233, 0.5) 33%, rgba(207, 207, 207, 0.5) 100%);
  text-align: center;
}

.header-list-ul .header-list-li .header-list-link {
  color: #191919;
  text-transform: uppercase;
  font-family: "Sawarabi Gothic", sans-serif;
  border-left: initial;
}

.header-list-ul :first-child {
  border-left: 1px solid rgba(187, 187, 187, 0.8);
}

.header-list-ul .header-list-dropdown {
  display: block;
  height: auto;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: auto 10px;
  border-right: 1px solid rgba(187, 187, 187, 0.8);
  border-bottom: 1px solid rgba(187, 187, 187, 0.8);
  border-bottom-width: 3px;
  background-image: radial-gradient(circle farthest-side at 0% 3%, rgba(233, 233, 233, 0.5) 33%, rgba(207, 207, 207, 0.5) 100%);
  text-align: center;
  -webkit-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}

.header-list-ul .header-list-dropdown .header-list-dropdown-button {
  color: #191919;
  text-transform: uppercase;
  font-family: "Sawarabi Gothic", sans-serif;
  border-left: initial;
}

.header-list-ul .header-list-dropdown .header-list-dropdown-ul {
  display: block;
  position: absolute;
  top: 45px;
  width: 11.1%;
  border-left: initial;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 1s 0s ease;
  transition: opacity 1s 0s ease;
}

.header-list-ul .header-list-dropdown .header-list-dropdown-ul .header-list-dropdown-li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
}

.header-list-ul .header-list-dropdown .header-list-dropdown-ul .header-list-dropdown-li .header-list-dropdown-item {
  border: 1px solid rgba(187, 187, 187, 0.8);
  background-image: radial-gradient(circle farthest-side at 0% 3%, rgba(233, 233, 233, 0.5) 33%, rgba(207, 207, 207, 0.5) 100%);
  color: #191919;
  text-transform: uppercase;
  font-family: "Sawarabi Gothic", sans-serif;
  border-left: initial;
}

.header-list-ul .header-list-dropdown:hover .header-list-dropdown-ul {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 1s 0s ease;
  transition: opacity 1s 0s ease;
}

.carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.carousel > input[type="radio"] {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
}

.carousel > input[type="radio"]:checked ~ .carousel__items .carousel__item,
.carousel > input[type="radio"]:checked ~ .carousel__prev > label,
.carousel > input[type="radio"]:checked ~ .carousel__next > label {
  opacity: 0;
}

.carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__items .carousel__item:nth-child(1) {
  opacity: 1;
}

.carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__nav > label:nth-child(1) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

.carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__items .carousel__item:nth-child(2) {
  opacity: 1;
}

.carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__nav > label:nth-child(2) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

.carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__items .carousel__item:nth-child(3) {
  opacity: 1;
}

.carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__nav > label:nth-child(3) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

.carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__items .carousel__item:nth-child(4) {
  opacity: 1;
}

.carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__nav > label:nth-child(4) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

.carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__items .carousel__item:nth-child(5) {
  opacity: 1;
}

.carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__nav > label:nth-child(5) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

.carousel__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: 600px;
  position: relative;
}

.carousel__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
}

.carousel__item img {
  width: 100%;
  vertical-align: middle;
}

.carousel__prev > label, .carousel__next > label {
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  opacity: 0;
  z-index: 2;
}

.carousel__prev > label:hover, .carousel__prev > label:focus, .carousel__next > label:hover, .carousel__next > label:focus {
  opacity: .5 !important;
}

.carousel__prev > label:before, .carousel__prev > label:after, .carousel__next > label:before, .carousel__next > label:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
}

.carousel__prev > label:before, .carousel__next > label:before {
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(10%, #fff), color-stop(10%, rgba(51, 51, 51, 0))), -webkit-gradient(linear, right top, left top, from(#fff), color-stop(10%, #fff), color-stop(10%, rgba(51, 51, 51, 0)));
  background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%), linear-gradient(to left, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
  width: 60%;
  height: 60%;
  top: 20%;
}

.carousel__prev > label {
  left: 2%;
}

.carousel__prev > label:before {
  left: 35%;
  top: 20%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.carousel__next > label {
  right: 2%;
}

.carousel__next > label:before {
  left: 10%;
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
}

.carousel__nav {
  position: absolute;
  bottom: 3%;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 3;
}

.carousel__nav > label {
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 .125%;
  width: 20px;
  height: 20px;
}

.carousel__title {
  position: absolute;
  right: 15%;
  bottom: 20%;
  padding: 2% 5%;
  background-image: repeating-linear-gradient(40deg, rgba(143, 143, 143, 0.5), rgba(255, 255, 255, 0.5));
  z-index: 2;
}

.carousel__title span {
  color: #FCFCFC;
  font-size: 20px;
  position: relative;
  padding: 0.25em 0;
}

.carousel__title span:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(25, 25, 25, 0.8)), to(transparent));
  background: linear-gradient(to right, rgba(25, 25, 25, 0.8), transparent);
}
/*# sourceMappingURL=styles.css.map */